@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<section id="company">
    <h2>About CyberSpace Gamers</h2>
    <p>
        Our company, <strong>CyberSpace Gamers</strong>, is dedicated to delivering innovative games with a focus on availability, updates, and most importantly user interests.
        We have a wide range of options from mystery and horror to action and adventure. There are also games here after our talented team which will certainly
        bring a smile to our customers.
    </p>
</section>


<section id="values">
    <h2>Our Values</h2>
    <ul>
        <li><strong>C - Community - focussed ---></strong> Put our users at the center of everything.</li>
        <li><strong>Y - Your experience ---></strong> Enhance our web application to further provide for more users.</li>
        <li><strong>B - Bring the fun ---></strong> Make more progress to provide more game options.</li>
        <li><strong>E - Engagement ---></strong> Connect with users about our merchandise.</li>
        <li><strong>R - Responsiveness ---></strong> Quickly address questions, issues or feedback.</li>
    </ul>
</section>


<section id="team">
    <h2>Meet Our Team:</h2>

    <div class="team-member">
        <h3>Suraj: P2685398</h3>
        <p>Job: Function Coder</p>
    </div>

    <div class="team-member">
        <h3>Joshua: P2841867</h3>
        <p>Job: Function Coder</p>
    </div>

    <div class="team-member">
        <h3>Cameron: P2804011</h3>
        <p>Job: Function Coder</p>
    </div>

    <div class="team-member">
        <h3>Dhruvisha: P2838561</h3>
        <p>Job: UI Designer</p>
    </div>

    <div class="team-member">
        <h3>Kanwal: P2833660</h3>
        <p>Job: UI Designer</p>
    </div>
</section>










