@{

    ViewData["Title"] = "Privacy Policy";   // Set the title of the page that will appear in the browser tab
}
<h1>@ViewData["Title"]</h1>      @* Display the page title on the web page *@

<p>Use this page to detail your site's privacy policy.</p>     @* This paragraph gives a short description about the privacy policy *@
