@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Support Page</title>
    <style>
        #searchinput {
            width: 400px;
            height: 40px; 
            font-size: 18px; 
            padding: 5px 10px; 
        }
    </style>
</head>
<body>
    <h1>Support Center</h1>
    <input type="text" id="searchinput" placeholder="Search...">
</body>
</html>
