@model CyberSpaceGamers.Models.ViewModels.LoginViewModel;
@{
    ViewData["Title"] = "Login";
    Layout = "_Layout";
}

<div class="container py-4" style="max-width: 540px;">
    <h1 class="h3 mb-3">Login</h1>
    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success" role="alert">
            @TempData["SuccessMessage"]
        </div>
    }

    <form asp-action="Login" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="mb-3">
            <label class="form-label" asp-for="Username">Username</label>
            <input asp-for="Username" class="form-control" placeholder="Enter username" />
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label class="form-label" asp-for="Password">Password</label>
            <input asp-for="Password" type="password" class="form-control" placeholder="Enter password" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <button class="btn btn-primary w-100"  title="Login">Login</button>

        <p class="text-center mt-3 mb-0">
            Don’t have an account?
            <a asp-controller="Account" asp-action="Register">Create new account</a>
        </p>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}