@model CyberSpaceGamers.Models.ViewModels.LoginViewModel;    // connects this page to the LoginViewModel so we can use its data//

@{
    ViewData["Title"] = "Login";        // sets the page title that will appear in the browser tab//
    Layout = "_Layout";         // uses the main layout file called _Layout.cshtml for page structure//
}
}

<div class="container py-4" style="max-width: 540px;">   <!-- this is the main container for the login form -->
    <h1 class="h3 mb-3">Login</h1>        <!-- page title -->
    @if (TempData["SuccessMessage"] != null)    // shows success message if available -->
    {
        <div class="alert alert-success" role="alert">
            @TempData["SuccessMessage"]
        </div>
    }
    <!-- login form -->
    <form asp-action="Login" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
          
        <!-- username input -->
        <div class="mb-3">       
            <label class="form-label" asp-for="Username">Username</label>
            <input asp-for="Username" class="form-control" placeholder="Enter username" />
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>
        <!-- password input -->
        <div class="mb-3">
            <label class="form-label" asp-for="Password">Password</label>
            <input asp-for="Password" type="password" class="form-control" placeholder="Enter password" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <!-- login button -->
        <button class="btn btn-primary w-100"  title="Login">Login</button>
        <!-- link to register page -->
        <p class="text-center mt-3 mb-0">
            Don’t have an account?
            <a asp-controller="Account" asp-action="Register">Create new account</a>
        </p>
    </form>
</div>
<!-- adds validation scripts -->
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}