
<table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        Product Name_test
                    </th>
                    <th>
                        Genre
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model)
                {
                    <tr>
                        <td>
                            @obj.Name
                        </td>
                        <td>
                            @obj.Genre

                        </td>
                    </tr>            
                }
            </tbody>
</table>